@{
    ViewBag.Title = "Home Page";
}

<<<<<<< HEAD

<div class="container">
    <div class="row">
        <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
            
        </div>
        <div class=" p-2 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad ">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">@ViewData["TipoUsuario"]</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        

                        <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                          <dl>
                            <dt>DEPARTMENT:</dt>
                            <dd>Administrator</dd>
                            <dt>HIRE DATE</dt>
                            <dd>11/12/2013</dd>
                            <dt>DATE OF BIRTH</dt>
                               <dd>11/12/2013</dd>
                            <dt>GENDER</dt>
                            <dd>Male</dd>
                          </dl>
                        </div>-->
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Nombre:</td>
                                        <td>@ViewData["Nombre"]</td>
                                    </tr>
                                    <tr>
                                        <td>Correo:</td>
                                        <td>@ViewData["Correo"]</td>
                                    </tr>
                                    <tr>
                                        <td>RFC</td>
                                        <td>@ViewData["Rfc"]</td>
                                    </tr>

                                    <tr>
                                    <tr>
                                        <td>Descripcion del trabajo</td>
                                        <td>@ViewData["DescripcionTrabajo"]</td>
                                    </tr>
                                                                    </tr>

                                </tbody>
                            </table>

                           
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="#" class="btn btn-primary">Solicitar edicion</a>
                    <a href="#" class="btn btn-danger">Solicitar eliminacion de la cuenta</a>
                </div>

            </div>
        </div>
=======
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
>>>>>>> refs/remotes/origin/master
    </div>
</div>